<template>
    <style> 
        .product-instock{
            color: forestgreen;
        }
    </style>
	
    <h1>Products</h1>
	<div class="container">  
	  <table class="table table-condensed">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Category</th>
	        <th>Unit price</th>
	        <th>Units in stock</th>	        
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Salt</td>
	        <td>Ingredients</td>
	        <td>200 $</td>
	        <td><i class="fa fa-check-circle product-instock"></i></td>
	        <td>
	        	<a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit </a>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</template>